<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>Testcases.ManageInvoices_Page</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>manageinvoice_delete</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>manageinvoice_edit</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>manageinvoice_manualpaymentcash</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>manageinvoice_show</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>manageinvoice_editerrorcatch</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>manageinvoice_sessiontimeout</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>manageinvoice_emailconfirmation</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>manageinvoice_send</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>manageinvoice_duplicateinvoiceandedit</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>manageinvoice_filtersearch</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>manageinvoice_removemanualpayment</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>manageinvoice_edit_splitpayment</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>manageinvoice_updatemanualpayment</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>manageinvoice_paidstatusimage</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>afterTest</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
</table>
