<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite One</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="e9ba83">  <td>16/12/12 16:49:24</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;ManageInvoices_Page.beforeTest()[pri:0, instance:Testcases.ManageInvoices_Page@2b1cbbd3]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1847363424</td>   <td></td> </tr>
<tr bgcolor="e9ba83">  <td>16/12/12 16:49:27</td>   <td>2578</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ManageInvoices_Page.manageinvoice_edit()[pri:0, instance:Testcases.ManageInvoices_Page@2b1cbbd3]">manageinvoice_edit</td> 
  <td>pool-1-thread-1@1182071652</td>   <td></td> </tr>
<tr bgcolor="e9ba83">  <td>16/12/12 16:49:49</td>   <td>24905</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ManageInvoices_Page.afterTest()[pri:0, instance:Testcases.ManageInvoices_Page@2b1cbbd3]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td>  <td>pool-1-thread-1@1182071652</td>   <td></td> </tr>
</table>
